In [ ]:
import pandas as pd

df = pd.read_csv('Organic-Compounds-MeltingPoints.csv', encoding='latin1')

df.head()

    Id    Formula                    Name  Melting_Pt  Unnamed: 4
0  0.0    CBr2Cl2  dibromodichloromethane       294.4         NaN
1  1.0       CBr4     carbon tetrabromide       363.2         NaN
2  2.0    CBrCl3    bromotrichloromethane       267.5         NaN
3  3.0      CCl3F  fluorotrichloromethane       162.7         NaN
4  4.0  CCl4         carbon tetrachloride       249.0         NaN

In [ ]:
df.shape

(1216, 5)

In [ ]:
df.columns

Index(['Id', 'Formula', 'Name', 'Melting_Pt', 'Unnamed: 4'], dtype='object')

In [ ]:
df.dtypes

Id            float64
Formula        object
Name           object
Melting_Pt    float64
Unnamed: 4    float64
dtype: object

In [ ]:
df.isna().sum()

Id               1
Formula          1
Name             1
Melting_Pt       1
Unnamed: 4    1216
dtype: int64

In [ ]:
df.groupby("Formula").size()

Formula
C10H10Cl2O3     1
C10H10O3        1
C10H10O4        3
C10H11ClO3      3
C10H11F3N2O     1
               ..
CHBr3           1
CHCl3           1
CHClF2          1
CHF3            1
CHF3S           1
Length: 808, dtype: int64